@import url(./base.css);
@import url(./navigation.css);
@import url(./footer.css);

.moving-bar {
  background: #fff5eb;
  height: 33px;
  overflow: hidden;
}

.moving-bar__item a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
}
.moving-bar__item a:hover {
  text-decoration: underline;
}
.moving-bar__dot::after {
  content: "●";
}

.moving-bar__container {
  width: 1440px;
  display: grid;
  grid-template-columns: 100% 100%;
  margin: auto;
  overflow-x: hidden;
}
.moving-bar__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8rem 0;
  list-style: none;
  animation: marquee 20s infinite linear forwards;
}

.moving-bar__container:hover .moving-bar__list {
  animation-play-state: paused;
}

@keyframes marquee {
  0% {
    transform: translate(0);
  }

  100% {
    transform: translate(-1440px);
  }
}

.here__row {
  display: flex;
  margin: 40px 40px 80px 80px;
  /* border: 2px solid red; */
}
.hero__text-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__img-container {
  width: 50%;
}
.hero__img {
  width: 100%;
}
.hero__text-subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  color: #292929;
  margin-bottom: 10px;
}
.hero__text-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 100%;
  text-transform: uppercase;
}
.hero__text-text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 159.5%;
  color: #000000;
  width: 85%;
  margin: 24px 0;
}
.hero__text-link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  text-decoration: none;
  margin-right: 10px;
}
@media (max-width: 1200px) {
  .hero__text-title {
    font-size: 5vw;
  }
}

@media (max-width: 992px) {
  .here__row {
    flex-direction: column-reverse;
    margin: 20px 4%;
  }
  .hero__text-container {
    width: 100%;
  }
  .hero__img-container {
    width: 100%;
  }
  .hero__text-subtitle {
    margin-top: 16px;
  }
}
@media (max-width: 768px) {
  .hero__text-title {
    font-size: 40px;
    margin-bottom: 20px;
  }
  .hero__text-text {
    display: none;
  }
  .hero__text-subtitle {
    font-size: 16px;
  }
}

.slick-dots li {
  list-style: none;
}
.new-products__row .slick-prev.slick-arrow {
  display: none !important;
}
.new-product__text-cart {
  /* height: 51.6rem; */
  border: 1px solid #000000;
  width: 328px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.text-cart__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-transform: uppercase;
}
.text-cart__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 18px 0 24px 0;
}
.text-cart__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 159.5%;
  text-align: center;
  margin-bottom: 123px;
  width: 90%;
}
.text-cart__btn-parent {
  display: flex;
}

.text-cart__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: #000000;
  text-decoration: none;
  margin-right: 16px;
}
.new-products {
  position: relative;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 0 40px;
}
.new-products__row {
  overflow-x: hidden;
  grid-column: 2 / -1;
}
.new-product__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 159.5%;
  text-align: center;
  text-transform: uppercase;
}
.new-product__img {
  width: 100%;
}
.new-product__category,
.new-product__price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 159.5%;
  text-align: center;
  color: #000000;
  opacity: 0.6;
}
.next__card {
  cursor: pointer;
}
.product__next-arrow {
  position: absolute;
  right: 40px;
  top: 50%;
}

@media (max-width: 1200px) {
  .text-cart__text {
    margin-bottom: 50px;
  }
  .new-product__text-cart {
    padding: 40px 0;
  }
}
@media (max-width: 992px) {
  .new-products {
    padding: 0 4%;
  }
  .product__next-arrow {
    right: 4%;
  }
  .text-cart__text {
    margin-bottom: 50px;
  }
  .text-cart__title {
    font-size: 32px;
    width: 70%;
  }
  .new-product__text-cart {
    width: 280px;
    padding: 0;
  }
}
@media (max-width: 592px) {
  .text-cart__title {
    font-size: 27px;
    width: 100%;
    margin: 9px 0 18px 0;
  }
  .new-product__text-cart {
    width: 167px;
  }
  .text-cart__text {
    margin-bottom: 20px;
  }
  .text-cart__subtitle {
    font-size: 16px;
  }
}

.best-sellers__row {
  display: flex;
  margin: 80px 160px;
}
.best-sellers__banner {
  width: 50%;
}
.best-sellers__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
}
.best-sellers__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  margin-top: 10px;
  text-transform: uppercase;
  margin-bottom: 65px;
}
.best-sellers__img-parent {
  max-width: 445px;
  margin-right: 100px;
}
.best-sellers__img {
  width: 100%;
}
.best-sellers__text-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
}
.best-sellers__name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
}
.best-sellers__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  text-decoration: none;
  color: #000000;
}
@media (max-width: 1200px) {
  .best-sellers__name {
    font-size: 22px;
  }
  .best-sellers__link {
    font-size: 16px;
    margin-right: 10px;
  }
  .best-sellers__btn-parent img {
    display: none;
  }
  .best-sellers__title {
    font-size: 35px;
  }
}
@media (max-width: 992px) {
  .best-sellers__row {
    flex-direction: column;
    margin: 40px 4%;
  }
  .best-sellers__banner {
    width: 100%;
  }
  .best-sellers__img-parent {
    max-width: 100%;
    margin: 0;
    margin-bottom: 22px;
  }
  .best-sellers__img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
  }
  .best-sellers__title {
    margin-bottom: 15px;
  }
  .best-sellers__btn-parent img {
    display: block;
  }
  .best-sellers__btn-parent {
    display: flex;
  }
}
@media (max-width: 768px) {
  .best-sellers__title {
    font-size: 34px;
  }
  .best-sellers__img {
    height: 50vh;
  }
  .best-sellers__name {
    font-size: 25px;
  }
  .best-sellers__subtitle {
    font-size: 18px;
  }
}
@media (max-width: 592px) {
  .best-sellers__title {
    font-size: 32px;
  }
  .best-sellers__img {
    height: 100%;
  }
  .best-sellers__name {
    font-size: 20px;
  }
  .best-sellers__subtitle {
    font-size: 16px;
  }
}

.mission {
  background: #fff5eb;
  padding: 50px 155px 75px 155px;
}
.mission__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mission__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.mission__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 120%;
  width: 70%;
}
.mission__link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  color: black;
  text-decoration: none;
  margin-right: 10px;
}

@media (max-width: 1100px) {
  .mission__text {
    width: 60%;
  }
}
@media (max-width: 992px) {
  .mission {
    padding: 60px 4%;
  }
  .mission__row {
    flex-direction: column;
  }
  .mission__text {
    width: 100%;
  }
  .mission__btn-parent {
    width: 100%;
    margin-top: 33px;
  }
}
@media (max-width: 592px) {
  .mission {
    padding: 24px 4%;
  }
  .mission__text {
    font-size: 20px;
  }
}

.spring__row {
  display: flex;
}
.spring__container {
  padding: 0 10%;
}
.spring__content {
  overflow-x: hidden !important;
  width: 60%;
  position: relative;
}
.spring__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 172.69%;
  text-align: center;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  margin-top: 80px;
}
.spring__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 8px 0 48px 0;
}
.spring__banner {
  width: 40%;
}
.spring__slider {
  display: flex;
  width: 60%;
  margin: 0 auto;
  position: relative;
}
.spring__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.spring__product-img {
  max-width: 245px;
  max-height: 270px;
  height: 100%;
  width: 100%;
  margin: auto;
}
.spring__banner--img {
  width: 100%;
  max-height: 720px;
  height: 100%;
  object-fit: cover;
}
.spring__next,
.spring__prev {
  position: absolute;
  cursor: pointer;
  z-index: 99;
}
.spring__next {
  right: 12%;
  top: 40%;
}
.spring__prev {
  left: 12%;
  top: 40%;
}
@media (max-width: 768px) {
  .spring__container {
    padding: 0 10%;
  }
}
@media (max-width: 768px) {
  .spring__container {
    padding: 0 4%;
  }
  .spring__title {
    font-size: 32px;
    margin: 8px 0 16px 0;
  }
  .spring__subtitle {
    margin-top: 40px;
  }
  .spring__row {
    flex-direction: column;
  }
  .spring__banner {
    width: 100%;
  }
  .spring__content {
    width: 100%;
  }
  .spring__slider {
    width: 100%;
  }
  .spring__product {
    max-width: unset;
  }
  .spring__next {
    right: 2%;
    top: 40%;
  }
  .spring__prev {
    left: 2%;
    top: 40%;
  }
  .spring__btn {
    display: none;
  }
}
/* Classic Scents */

.classic-scents .swiper-slide {
  width: 25%;
  height: 50rem;
}
.classic-scents .classic__banner {
  width: 75%;
}
.classic-scents {
  padding: 0 4%;
}
.classic__row {
  position: relative !important;
}
.classic__next {
  position: absolute;
  right: 16px;
  z-index: 999999;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.classic__prev {
  position: absolute;
  left: 16px;
  z-index: 999999;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.classic__banner img {
  height: 100%;
  object-fit: cover;
  width: 100%;
  object-position: 30% 0;
}

.classic__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  margin: 8px 0 30px 0;
}
.classic__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 172.69%;
  text-align: center;
  letter-spacing: 0.205em;
  margin-top: 80px;
  text-transform: uppercase;
}
.classic__product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.classic__product--img {
  width: 80%;
  height: 80%;
  object-fit: contain;
}
@media (max-width: 992px) {
  .classic-scents .swiper-slide {
    width: 33.33333%;
    height: 40rem;
  }
  .classic-scents .classic__banner {
    width: 66.66666%;
  }
}
@media (max-width: 768px) {
  .classic-scents .swiper-slide {
    width: 50%;
    height: 40rem;
  }
  .classic-scents .classic__banner {
    width: 100%;
  }
  .classic__title {
    font-size: 32px;
  }
  .classic__subtitle {
    margin-top: 40px;
  }
}

/* Floral  */
.floral__row {
  display: flex;
  flex-direction: row-reverse;
}
.floral__slider {
  display: flex;
  width: 60%;
  margin: 0 auto;
  position: relative;
}
@media (max-width: 768px) {
  .floral__row {
    flex-direction: column;
  }
   .floral__slider {
    width: 100%;
  }
}
/* Our Favorite Designers */
.favorite-designers {
  padding: 80px 4%;
  position: relative;
}
.designers__subtitle {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 172.69%;
  text-align: center;
  letter-spacing: 0.205em;
  text-transform: uppercase;
}
.designers__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  line-height: 100%;
  margin: 8px 0 37px 0;
  text-transform: uppercase;
}

.designers__banner-img img {
  width: 100%;
}
.designers__banner {
  width: 100%;
  z-index: -1;
}
.designers__banner-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  margin-top: 8px;
}
.favourite__prev {
  position: absolute;
  display: none;
  bottom: 40%;
  left: 0;
  z-index: 999999;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  padding: 8px 5px;
  cursor: pointer;
}
.favourite__next {
  position: absolute;
  display: none;
  bottom: 40%;
  right: 0;
  z-index: 999999;
  height: 40px;
  width: 40px;
  background-color: #ffffff;
  padding: 8px 8px;
  cursor: pointer;
}
.favourite__prev-arrow,
.favourite__next-arrow {
  width: 20px;
  height: 25px;
}
@media (max-width: 992px) {
  .favourite__prev {
    display: block;
  }
  .favourite__next {
    display: block;
  }
  .designers__title {
    font-size: 32px;
  }
}
@media (max-width: 514px) {
  .favourite__next,
  .favourite__prev {
    bottom: 35%;
  }
}

/* Toward Blog */
.toward-blog {
  background: #fff5eb;
  padding: 80px 4%;
}
.blog__row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  overflow-x: hidden;
  gap: 16px;
}
.blog__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blog__text--title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.blog__text--btn a {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #000000;
  text-decoration: none;
  margin-right: 8px;
}
.blog__banner--img {
  max-width: 328px;
  width: 100%;
}
.blog__banner--img img {
  width: 100%;
}
.blog__banner--fashion {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 10px;
  line-height: 172.69%;
  margin: 16px 0 8px 0;
  letter-spacing: 0.205em;
  text-transform: uppercase;
}
.blog__banner--title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}
.blog__banner--description {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin: 16px 0 8px 0;
  line-height: 159.5%;
  color: #7c7c7c;
}
@media (max-width: 992px) {
  .toward-blog {
    padding: 40px 4%;
  }
  .blog__row {
    grid-template-columns: 1fr 1fr;
  }
  .blog__banner--img {
    max-width: 100%;
  }
  .blog__text--title {
    font-size: 40px;
  }
}

@media (max-width: 592px) {
  .blog__row {
    grid-template-columns: 1fr;
  }
  .blog__banner--img {
    max-width: 100%;
  }
  .blog__text--title {
    font-size: 32px;
    margin-bottom: 16px;
    text-align: center;
  }
  .blog__text--btn {
    text-align: center;
    margin-bottom: 15px;
  }
  .blog__banner .blog__text--btn {
    text-align: start;
  }
}
