@import url(./base.css);
@import url(./navigation.css);
@import url(./footer.css);

.shop-banner__container {
  width: 100%;
  height: 285px;
  background-image: url(../assets/images/s__banner.png);
  display: flex;
  flex-direction: column;
  background-position: center;
  align-items: center;
  justify-content: flex-end;
}
.shop-banner__title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 100%;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 33px;
}
.shop-banner__description {
  padding: 24px 24px 0 24px;
  background-color: #ffffff;
  width: 47%;
}
.shop-banner__text {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 159.5%;
  text-align: center;
  color: #000000;
}
@media (max-width: 992px) {
  .shop-banner__description {
    width: 60%;
  }
  .shop-banner__title {
    font-size: 50px;
  }
}
@media (max-width: 768px) {
  .shop-banner__container {
    justify-content: center;
    height: 200px;
    background-size: cover;
  }
  .shop-banner__description {
    display: none;
  }
  .shop-banner__title {
    font-size: 40px;
    margin: 0;
  }
}

/* Shop Categories */
.s__categories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 47%;
  margin: 24px auto 0 auto;
  height: 40px;
}
.s__category {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.s__category:not(:last-child) {
  border-right: 1px solid #000000;
}
.s__category-name {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  margin-left: 9px;
}
@media (max-width: 992px) {
  .s__categories {
    width: 60%;
  }
}

@media (max-width: 768px) {
  .s__categories {
    width: 100%;
  }
}

.s__products-container {
  display: flex;
}  
/* Filter Sort */
.s__filter-sort {
  display: flex;
  justify-content: space-between;
  margin: 16px 0 8px 0;
  cursor: pointer;
}
.s__filter,
.s__sort {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 37px;
  width: 140px;
  border: 1px solid #000000;
  padding: 10px 0;
}
.s__filter--link,
.s__sort--link {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 172.69%;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-left: 12px;
}
.s__container {
  padding: 0 2%;
}

.s__accordion-container {
  width: 25%;
}
.accordion {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 172.69%;
  letter-spacing: 0.205em;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
  background-color: transparent;
  padding: 16px 0;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.accordion__item {
  border-bottom: 1px solid #f2f2f2;
}
.accordion__item:first-child {
  border-top: 1px solid #f2f2f2;
}
.panel {
  display: none;
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.5s ease-out;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 159.5%;
  color: #000000;
}
.panel p {
  padding: 8px 0;
}

.s__products {
  width: 75%;
}

.s__product {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  text-align: center;
  justify-content: center !important;
  position: relative;
  padding: 20px;
}
.s__product-img {
  width: 100%;
}
.s__product-icons {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.s__product-icons img {
  margin-right: 8px;
}
.s__product--new {
  position: absolute;
  top: 16px;
  left: 16px;
  font-size: 14px;
  font-family: "Montserrat";
  font-weight: 500;
  color: #000000;
}
.s__product--like {
  position: absolute;
  top: 16px;
  right: 16px;
}
.s__product-brand {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}
.s__product-name,
.s__product-price {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 159.5%;
  color: #000000;
  opacity: 0.6;
}
.slick-dots {
  list-style: none;
  display: flex !important;
  float: right;
  margin-bottom: 20px;
}
.slick-dots li button {
  border: none;
  margin: 0 5px;
  background-color: transparent;
  cursor: pointer;
  font-family: "Montserrat";
}
.slick-dots li.slick-active button {
  border-bottom: 1px solid black;
}
